doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Pathfinder
    script(src='https://use.fontawesome.com/dc78fe2469.js')
    link(rel='stylesheet' href='styles/main.css')

body
    img#starticon.starticon(src='imgs/start.png' alt='start-node' draggable='true')
    img#endicon.endicon(src='imgs/end.png' alt='end-node')
    .lay
        .menu
            .head-menu
                .control-bar
                    .btn.begin-algo Start
                    .btn.reset Reset Solution
                    .btn.clear-walls Clear Walls

            .pick-algo
                select#algo-select.btn
                    option(value='dijkstras') Dijkstras
                    option(value='astar') A *
                    option(value='dfSearch') Depth First Search
                    option(value='greedy') Greedy
            .description 
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                | Nobis ipsum porro vel, saepe non veniam sequi laboriosam in rem maxime.
            .pseudo-code
                | Pseudo-Code

        .grid
        //- <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    script(src='js/main.js')
    script(src='js/solver.js')
