doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Pathfinder
    //- script(src='https://use.fontawesome.com/dc78fe2469.js')
    link(rel='stylesheet' href='styles/main.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' integrity='sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==' crossorigin='anonymous')

body
    img#starticon.starticon(src='imgs/start.png' alt='start-node' draggable='true')
    img#endicon.endicon(src='imgs/end.png' alt='end-node')
    .lay
        .menu
            .head-menu
                .control-bar
                    ul
                        li
                            i.fas.fa-play
                            btn.begin-algo Start
                        li
                            i.fas.fa-undo-alt
                            btn.reset Reset Solution
                        li.clear-walls
                            i.fas.fa-cube
                            btn Clear Walls

            .pick-algo
                fieldset
                    legend Pick Algorithm
                    select#algo-select.btn
                        option(value='dijkstras') Dijkstras
                        option(value='astar') A *
                        option(value='dfSearch') Depth First Search
                        option(value='greedy') Greedy
            .description 
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                | Nobis ipsum porro vel, saepe non veniam sequi laboriosam in rem maxime.
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus doloremque officia delectus sequi quod facere, ad tempore hic vero mollitia nisi soluta laboriosam! Pariatur doloribus quasi libero explicabo cupiditate omnis minus aut totam minima nobis eos dicta asperiores culpa suscipit exercitationem incidunt modi nam quibusdam repellat eveniet, rerum animi. Nam corrupti, magnam assumenda asperiores totam vero vitae impedit est iste error provident quisquam omnis maxime natus. Debitis nulla ducimus quod assumenda neque! Libero neque pariatur enim assumenda odio sint in doloribus maiores eaque numquam doloremque, quas consequatur, quisquam ut asperiores possimus deleniti. Laudantium mollitia quibusdam ullam esse et placeat eos?
            .pseudo-code
                | Pseudo-Code
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda qui animi, hic molestiae officia consectetur omnis aspernatur voluptatem. Porro necessitatibus cupiditate iste, ullam magni doloribus obcaecati, tempora, vero harum laborum optio doloremque dolor nemo non maxime repellat cum. Omnis odit magnam deserunt. Molestias iusto odio, quibusdam, incidunt enim dolorem non praesentium, inventore sequi consectetur labore ad neque natus dolorum molestiae illum perferendis dicta unde officiis doloremque sit quidem? Repellat dolores, illo iusto at maiores saepe voluptas porro quidem quaerat laboriosam nihil, eaque ex aperiam vel assumenda enim voluptate error libero minima, ratione beatae autem ab delectus. Ex minima soluta, reiciendis sapiente rem sit, temporibus, aperiam nemo ullam dicta tempora repudiandae? Optio fugit consequuntur modi nemo, totam iure quia explicabo ab nobis dolorum, repellat, ipsa beatae pariatur sit? Minus, obcaecati commodi? Saepe ullam, laboriosam eveniet eum beatae quaerat iure quo nemo fugiat blanditiis. Modi magni aperiam id eveniet sit, quis pariatur. Maiores fugit animi corporis nostrum, aliquid maxime sunt rem architecto eum ab voluptate delectus cumque, praesentium itaque aut quibusdam accusamus quos illo necessitatibus assumenda. Perspiciatis maiores sunt dolorum quasi ex consectetur dolore, omnis ea tenetur, rem pariatur. Ab mollitia ut fugit voluptatibus illum dolorem est! Fugiat natus corrupti sequi est!

        .grid
        //- <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    script(src='js/main.js')
    script(src='js/solver.js')
