doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Pathfinder
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' integrity='sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==' crossorigin='anonymous')
    link(rel='stylesheet' href='styles/main.css')

body
    img#starticon.starticon(src='imgs/start.png' alt='start-node' draggable='true')
    img#endicon.endicon(src='imgs/end.png' alt='end-node')
    .lay
        .menu
            .head-menu
                .control-bar
                    ul
                        li
                            i.fas.fa-play
                            btn.begin-algo Start
                        li
                            i.fas.fa-undo-alt
                            btn.reset Reset Solution
                        li.clear-walls
                            i.fas.fa-cube
                            btn Clear Walls

            .scrollable
                .pick-algo
                    fieldset
                        legend Pick Algorithm
                        select#algo-select.btn
                            option(value='dijkstras') Dijkstras
                            option(value='astar') A *
                            option(value='dfSearch') Depth First Search
                            option(value='greedy') Greedy
                .description 
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    | Nobis ipsum porro vel, saepe non veniam sequi laboriosam in rem maxime.
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus doloremque officia delectus sequi quod facere, ad tempore hic vero mollitia nisi soluta laboriosam! Pariatur doloribus quasi libero explicabo cupiditate omnis minus aut totam minima nobis eos dicta asperiores culpa suscipit exercitationem incidunt modi nam quibusdam repellat eveniet, rerum animi. Nam corrupti, magnam assumenda asperiores totam vero vitae impedit est iste error provident quisquam omnis maxime natus. Debitis nulla ducimus quod assumenda neque! Libero neque pariatur enim assumenda odio sint in doloribus maiores eaque numquam doloremque, quas consequatur, quisquam ut asperiores possimus deleniti. Laudantium mollitia quibusdam ullam esse et placeat eos?
                            

                a(href="pseudoCode.html") Click Here

    .grid
    //- <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>


    script(src='js/main.js')
    script(src='js/solver.js')
