doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Pathfinder
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' integrity='sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==' crossorigin='anonymous')
    link(rel='stylesheet' href='styles/main.css')

body
    img#starticon.starticon(src='imgs/start.png' alt='start-node' draggable='true')
    img#endicon.endicon(src='imgs/end.png' alt='end-node')
    .lay
        .menu
            .control-bar
                .begin-algo
                    i.fas.fa-play
                    btn Start
                .reset
                    i.fas.fa-undo-alt
                    btn Reset Solution
                .clear-walls
                    i.fas.fa-cube
                    btn Clear Walls

            .pick-algo
                fieldset
                    legend Pick Algorithm &nbsp;
                    select#algo-select.btn
                        option(value='dijkstras') Dijkstras
                        option(value='astar') A *
                        option(value='dfSearch') Depth First Search
                        option(value='greedy') Greedy
            .description.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Eaque distinctio nostrum ipsa error natus! Incidunt numquam 
                aliquam facilis non dolorem saepe eaque vitae reprehenderit 
                molestias! Minima, quidem perspiciatis voluptatem at suscipit vero! 
                Adipisci incidunt earum illum quidem ipsum repellat maxime. Autem 
                libero unde ratione voluptates vel sapiente quis expedita! Amet, 
                veritatis tempore ipsa in laudantium ullam. Iusto eaque et 
                dignissimos doloribus obcaecati unde ratione eius nam beatae inventore, 
                delectus quas quam officia? Aperiam repellat ab hic quod magni dolore 
                eligendi, id sint quisquam cum est vero aliquam enim sequi rerum dignissimos quo 
                voluptates deleniti accusamus! Deleniti placeat rerum quas tenetur 
                suscipit sit dolorum error distinctio facere libero! In labore a 
                laborum itaque deserunt placeat dignissimos! Officia facilis expedita 
                animi eius.
            a(href="pseudoCode.html") 
                span View Pseudo-Code 
                i.fas.fa-angle-double-right

        .grid
    //- <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>


    script(src='js/main.js')
    script(src='js/solver.js')
