@charset "utf-8";

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(69, 59, 78);
}

.grid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.cell {
    border: 1px solid rgba(0, 245, 253, 0.24);
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wall {
    background-color: #fff;
}

/* .visited {
    background-color: green;
} */
/* .solution{
    background-color: blue;
} */

.btn {
    color: rgb(48, 48, 48);
    font-size: 200%;
    background-color: rgb(240, 197, 197);
    width: 20%;
    margin-top: 30px;
    margin-left: 40%;
    height: 50px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solution {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* animation-play-state: running; */
}

@keyframes shortestPath {
    0% {
        transform: scale(0.6);
        background-color: rgb(106, 255, 248);
    }

    50% {
        transform: scale(1.2);
        background-color: rgb(106, 255, 218);
    }

    100% {
        transform: scale(1);
        background-color: rgb(111, 255, 106);
    }
}

.visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    border: 1px solid rgba(255, 255, 255, 0);
}

@keyframes visitedAnimation {
    0% {
        transform: scale(.1) rotateX(180deg);

        border: 1px solid white;
        /* background-color: rgba(66, 0, 14, 0.75); */
        border-radius: 100%;
    }

    50% {
        border: 1px solid rgba(255, 255, 255, 0.521);
        background-color: rgba(88, 13, 70, 0.75);
    }

    75% {
        transform: scale(1.1);
        background-color: rgba(35, 17, 117, 0.75);
    }

    100% {
        transform: scale(1);
        background-color: rgba(13, 48, 95, 0.75);
    }
}
